# Entornos Virtuales
venv/
env/

# Archivos compilados y de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Carpetas de datos y sesiones
data/
sessions/

# Exportaciones generadas por la aplicación
*.csv
*.json
*.log